body {
    background-image: url(./images/background.jpg);
    background-size: contain;
    color: white;
}

#logo_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#square_logo {
    width: 75vw;
}

.icon {
    width: 160px;
    height: 160px;
}

#icon_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
}

.icon_box {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.icon_text {
    font: bold;
    color: white;
    text-transform: uppercase;
}