body {
    background-color: black;
    background-image: url(./images/background.jpg);
    background-size: contain;
    color: white;
    margin: 20px;
}

/* HEADER and LOGOS */

#logo_box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#long_logo {
    width: 85vw;
}

/* NAVIGATION */

#nav_box {
    display: flex;
    justify-content: center;
}

#nav_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav_item {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav_icon {
    width: 25vw;
}

.nav_text {
    color: white;
    text-decoration: none;
    display: none;
}

/* DEV PROJECTS */

#content_top {
    display: flex;
    justify-content: center;
}

.dev_project {
    border: 1px white solid;
    border-radius: 5px;
    padding: 5px;
    background-color: grey;
}

.project_links {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.project_link {
        padding: 0px 10px;
        text-decoration: none;
}

.project_img {
    display: flex;
    justify-content: center;
}

.project_pic {
    width: 90%;
}

.proj_text {
    text-indent: 5%;
}