* {
    background: rgb(99, 99, 98);
    color: white;
}

.icon {
    width: 160px;
    height: 160px;
}

#icon_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: red;
    padding: 10px;
}

.icon_box {
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
}

.icon_text {
    font: bold;
    color: white;
    text-transform: uppercase;
}